.checkbox-primary input[type='checkbox']:checked + label::before {
  background-color: #005E3C;
  border-color:     #005E3C;
}

.well {
  background-color:#005E3C1A;
}

.inline label{ 
  display: table-cell; 
  text-align: right; 
  vertical-align: middle; 
} 
.inline .form-group{
  display: table-row;
}

/* Left-align xtables: */
div.MathJax_Display{
   text-align: left !important;
}

/* Changing the color of prettyRadioButtons:  */
.pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after {
    background-color: #DCA559!important;
}

/* slide inputs: */
.irs--shiny .irs-single {
    color: #fff;
    text-shadow: none;
    padding: 1px 3px;
    background-color: #DCA559;
    color: #595855;
    border-radius: 3px;
    font-size: 11px;
    line-height: 1.333;
}
.irs--shiny .irs-bar {
    top: 25px;
    height: 8px;
    border-top: 1px solid #DCA559;
    border-bottom: 1px solid #DCA559;
    background: #DCA559;
}

/* Animation play button */
a {
    color: #005E3C;
    text-decoration: none
}
a:hover, a:focus {
    color: #005E3CCC;
    text-decoration: underline;
}
